* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page {
    display: flex;
}
img {
    display: block;
    margin-right: auto;
    height: 100vh;
    aspect-ratio: 1;
}
.leftcontainer {
    position: relative;
}
.overlay {
    position: absolute;
    color: white;
}
form {
    height: 100vh;
    aspect-ratio: 1;
    justify-content: flex-end;
    border: 5px solid red;
}